body{
    background-color: var(--azuloscuro);
}
main{
    color: white;
    z-index: 2;
}
.container{
    background-color: rgba(6, 20, 40, 1);
    border: 1px rgba(224, 235, 251, 0.3) solid;
    border-radius: 20px;
}
/* --- BTN PLAY NOW -- */
.btn-play-now{
    border: 2px solid var(--oro);
    background-color: rgba(197, 129, 32, 0.3); /* Ajusta el último valor (0 a 1) para más o menos transparencia */
    color: white;
    border-radius: 30px;
    width: 150px;
    font-size: 1.1rem; /* Tamaño adecuado */
    font-weight: 600; /* Un poco más grueso para destacar */
    letter-spacing: 1px; /* Separación entre letras */
}
.btn-play-now:hover{
    background-color: var(--oro);
}
.btn-play-now:active {
    background-color: var(--azuloscuro); /* Más transparente al hacer click */
    color: var(--oro);
}
.btn-play-now:active:hover {
    color: white;
}
.difficulty-info {
    background-color: rgb(214, 227, 255);
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    visibility: hidden; /* Inicialmente oculto */
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}
.difficulty-info i {
    color:var(--oro);
}

.difficulty-info.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.text-sb {
    font-size: 0.9rem; /* Tamaño de fuente */
    font-weight: 400; /* Peso de la fuente */
    color: #ffffff; /* Color más suave */
    margin-top: 1rem; /* Espaciado superior */
    margin-bottom: 1rem; /* Espaciado inferior */
}
.btn-start-game{
    background-color: var(--oro);
    border-radius: 30px;
    width: 150px;
    color: white;
}
.btn-start-game:hover{
    background-color: var(--oro);
    color: white;
}



