.img-container {
    margin-left: 60px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.coin-amount {
    margin-top: 1rem;
}

#chart-container {
    width: 100%;
    height: 500px;
    background: white;
    position: relative;
}
/* ---- LOADING MESSAGES ---- */
.fa-spin {
    animation: fa-spin 2s infinite linear !important;
}

#loadingMessageYourCryptos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #666;
    display: none; /* Empezamos con el mensaje oculto */
}
#loadingMessageTransactions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #666;
    display: none; /* Empezamos con el mensaje oculto */
}
#loadingMessageChart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #666;
    display: none; /* Empezamos con el mensaje oculto */
}
#loadingMessageCalendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #666;
    display: none; /* Empezamos con el mensaje oculto */
}

/* ------ EMPTY MESSAGES ------- */
.empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #666;
    display: none; /* Empezamos con el mensaje oculto */
}


/* -------------------- CALENDARIO -------------------- */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.time-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
.calendar-container h2,
.calendar-container h3 {
    text-align: left;
    width: 100%;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.day {
    width:28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #061428;
    transition: all 0.3s ease-in-out;
}

.past {
    background-color: #b9b9b9;
    color: #061428;
}

.remaining {
    background-color: #FFFFFF;
    color: var(--azuloscuro);
    border: 2px solid #061428;
}

.today {
    background-color: #061428;
}

.marked {
    background-color: #C58120;
    box-shadow: 0 0 10px rgba(197, 129, 32, 0.6);
}
.days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: var(--azuloscuro) solid 1px;

}

.day-name {
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}
.calendar-arrow{
    color: var(--azuloscuro);
}
.calendar-arrow:hover{
    color: var(--oro);
}

/* -------------------- MEDIA QUERIES (RESPONSIVE) -------------------- */
@media (max-width: 1399px) {
    .chart {
        max-width: 90%;
    }
    .calendar {
        max-width: 40%;
    }
    .day {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
}

@media (max-width: 1299px) {
    .chart {
        max-width: 85%;
    }
    .calendar {
        max-width: 45%;
    }
    .day {
        width: 26px;
        height: 26px;
        font-size: 12px;
    }
}

@media (max-width: 1199px) {
    .chart {
        max-width: 80%;
    }
    .calendar {
        max-width: 50%;
    }
    #calendar {
        gap: 8px;
    }
    .day {
        width: 24px;
        height: 24px;
        font-size: 11px;
    }
}

@media (max-width: 1099px) {
    .chart {
        max-width: 75%;
    }
    .calendar {
        max-width: 55%;
    }
    #calendar {
        gap: 6px;
    }
    .day {
        width: 22px;
        height: 22px;
        font-size: 10px;
    }

}

/* -------------------- TRANSACTIONS SECTION -------------------- */

.extra-small-text {
    font-size: 0.85rem;
}

.highlightsMenu {
    background-color: #fff;
}
.btn-link{
    color: var(--azuloscuro);
    text-decoration: none;
}
.btn-link:hover{
    color: var(--oro);
}

.btn-transaction-modal{
    background-color: var(--azuloscuro);
    color: white;
}
.btn-transaction-modal:hover{
    background-color: var(--oro);
    color: white;
}
.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

#cryptosContainer {
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}

.crypto {
    flex: 0 0 220px;
    height: 150px;
    scroll-snap-align: start;
}
.card-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #061428;
}

.text-muted {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #6c757d;
}

.card-body {
    line-height: 1.5;
}
.text-dark {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.badge {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
}

.col-4, .col-3, .col-2 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}


/* -------------------- BADGES -------------------- */

.badge-buy {
    background-color: #28a745;
    color: white;
}

.badge-sell {
    background-color: #dc3545;
    color: white;
}

.badge-exchange {
    background-color: var(--oro);
    color: white;
}
