/* ---- TABLE STYLES ---- */
table {
    width: 100%;
}
.more-info-card{
    width: 600px;
}


#toggleIcon{
    color: var(--azuloscuro);
}
#toggleIcon:hover{
    color: var(--oro);
}

/* ------ RESPONSIVE MEDIA QUERYS ---- */
@media (max-width: 1300px) {
    #cryptoPieChart {
        height: 700px;
        width: 100% !important;
        align-items: center;
    }

    .row > .col-12 {
        width: 100% !important;
        padding-right: 0;
        padding-left: 0;
    }


    .col-md-6 {
        margin-bottom: 1rem;
    }
}
.text-dark {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400; /* Normal */
}

.d-flex {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.align-middle {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}








