/* ---- TABLE STYLES ---- */
table {
    width: 100%;
}
.more-info-card{
    width: 600px;
}
th, td {
    padding: 8px 12px;
    text-align: left;
}

.table-hover tr:hover {
    background-color: rgba(175, 175, 175, 0.24);
}

#toggleIcon{
    color: var(--azuloscuro);
}
#toggleIcon:hover{
    color: var(--oro);
}

/* ------ RESPONSIVE MEDIA QUERYS ---- */
@media (max-width: 1300px) {
    #cryptoPieChart {
        height: 700px;
        width: 100% !important;
        align-items: center;
    }

    .row > .col-12 {
        width: 100% !important;
        padding-right: 0;
        padding-left: 0;
    }


    .col-md-6 {
        margin-bottom: 1rem;
    }
}







