/* ---- USERNAME HIGHLIGHT ---- */
h1 span {
    color: var(--oro);
}

/* ---- MODAL BUTTONS ---- */
.btn-azuloscuro {
    background-color: var(--azuloscuro);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
}

.btn-azuloscuro:hover {
    background-color: var(--oro);
    color: white;
}

.btn-oro {
    background-color: var(--oro);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
}

.btn-oro:hover {
    background-color: darkgoldenrod;
}

/* ---- TOKEN/BALANCE CARD ---- */
.wallet-icon i {
    animation: bounce 1.5s infinite alternate;
    color: var(--azuloscuro);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.balance-token-card {
    border: solid 1px var(--azuloscuro);
}

.balance-token-card .card-body {
    padding: 0.75rem;
}

.balance-token-card .vr {
    margin: 1.5rem;
    border: solid 1px var(--azuloscuro);
}

.token-icon img {
    width: 60px;
    height: 60px;
}

/* ---- TIP & ADVICE CARDS ---- */
.tip-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.tip-card i {
    transition: transform 0.3s ease;
}


.tip-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tip-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* ---- RESPONSIVE MEDIA QUERYS ---- */
@media (max-width: 1462px) {
    .col-md-6 {
        width: 100% !important;
        max-width: 100%;
    }

    .small-token-card,
    .card-profile {
        width: 100% !important;
    }

    .tips-advice-cards {
        width: 100% !important;
    }

    #main-sections {
        flex-direction: column;
        width: 100%;
    }
}

.logout-button {
    background-color: var(--azuloscuro); /* Color similar al de los botones "Edit" */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.logout-button:hover {
    background-color: var(--oro); /* Un tono más claro al pasar el mouse */
}
